.custom-header {
  background-color: rgb(0, 71, 143);
  font-size: small;
  
  padding: 8px;
}
.no-underline {
  text-decoration: none;
}
.logo-image{
  width: 100%;
  

}
.nav-top{
  margin-top: 20px; 
  padding-top: 10px;
}
.image-Container{
  width: 140px;
  height: fit-content;
  object-fit: scale-down;
}
.custom-button {
  
  color: rgb(0, 71, 143); /* Text color in RGB */
  border: none;
  background-color: white;

}
.custom-icon-color{
  color:rgb(0, 71, 143);
 
}
.cart-button{
  position: relative;
}
.notification-icon-container{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -7px;
  left: 14px;
  background-color: red;
  color: white;
  padding-bottom: 2px;
  
  padding-top: 2px;
  
  border-radius: 10px;
  font-family: Roboto,Arial;
  font-size: 11px;
}

.custom-search-bar{
  height: 50%;
  border-radius: 25px;
  width: 50%;
  border-width: 1px;
  border: solid;
  border-width: 1px;
  border-color: rgb(242, 242, 242);
  padding: 10px;
  box-shadow: none;
  
}

.custom-navbar-toggler {
  background-color: white;
  border: none;
  color: rgb(0, 71, 143); /* Change to your desired color */
}

.custom-navbar-toggler-icon {
  background-color: #FFFFFF;
  border: none;


   /* Change to your desired color */
}
.custom-search-below-nav{
  display: none;
  margin: 10px;
}

@media (max-width: 800px) {
  
  .custom-search-below-nav{
    
    display: block;
  
  }
  .custom-search-bar{
    display: none;
  }
  
}
.custom-footer{
  width: 100%;
  height: fit-content;
  background-color: rgb(0, 71, 143);
  color: white;
  text-align: center;

}
